{% extends "layouts/base.html" %}
{% load static %}

{% block title %}List Books{% endblock %}

{% block content %}
<h2>Available Books</h2>

<h3>Book 1</h3>
<img src="{% static 'book1.jpg' %}" width="200"><br>
<a href="{% url 'books.view_one_book' 1 %}">View Details</a>

<hr>

<h3>Book 2</h3>
<img src="{% static 'book2.jpg' %}" width="200"><br>
<a href="{% url 'books.view_one_book' 2 %}">View Details</a>

<hr>

<h3>Book 3</h3>
<img src="{% static 'book3.jpg' %}" width="200"><br>
<a href="{% url 'books.view_one_book' 3 %}">View Details</a>
{% endblock %}
